body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
  color: #682808;
}

p {
  text-align: center;
  margin: 20px;
}

.menu-links {
  text-align: center;
  margin: 10px auto;
}

.menu-links a {
  padding: 10px;
  color: #b14916;
}

img {
  width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
